* {
	margin:0;
	padding:0;
}

body {
	background-image: url("bg.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-color: #eee;
}

.column {
  float: left;
}

.left{
  width: 25%;
}

.right {
  width: 25%;
  text-align: center;
}

.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  opacity: 0.9;
}

/* Add a card effect for articles */
.card_2 {
  background-color: white;
  padding: 10px;
  margin-left: 20px;
  opacity: 0.8;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
  margin-left: 50px;
  opacity: 0.8;
}

.vertical-menu a {
  background-color: #fff; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
	color: red;
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

/* nav {
	width: 100%;
	height: 100px;
	background-color: #fff;
}

ul {
	margin-left: 60px;
}

ul li{
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

ul li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	color: #1e1e1e;
	padding: 0 10px;
}

ul li a:hover {
	color: red;
} */